<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      role="navigation"
      mode="side"
      opened="true">
    <!-- <mat-toolbar>Menu</mat-toolbar> -->
    <mat-nav-list>
      <a mat-list-item routerLink="/overview">Overview</a>
      <mat-divider></mat-divider>
      <a mat-list-item routerLink="/callresources">Calls</a>
      <a mat-list-item routerLink="/conferenceresources">Conferences</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>TwilioEmulator</span>
      <span class="flex-fill"></span>
      <button type="button" mat-stroked-button (click)="makeCall()">
        <mat-icon>call</mat-icon>
        New incoming call
      </button>
    </mat-toolbar>
    <div>
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
