/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.full-width {
  width: 100%;
}

.flex-fill {
  flex: 1 1 auto;
}

tr.hover-row:not(.expanded-row):hover {
  background: #f5f5f5;
}

tr.hover-row:not(.expanded-row):active {
  background: #efefef;
}

tr.hover-row.expanded-row:hover {
  background: #efefef;
}

tr.expanded-row {
  background: #f5f5f5;
}

tr.expandable-detail-row {
  height: 0 !important;
  background: #f5f5f5;
}

.expandable-detail {
  overflow: hidden;
  display: flex;
}

.key-value-table th {
  text-align: left;
  padding-right: 1em;
}

.my-card {
  margin: 20px;
}